@import 'common.scss';

.modal-popup {
    position: absolute;
    width: 60%;
    top: 15%;
    padding: 2rem;
    padding-right: 4rem;
    margin-left: 10%;
    background-color: #F3F5F9;
    border-radius: 1rem;
    z-index: 2;
    // New added
    // padding: 0;
    // margin-right: 20%;
    // margin-left: 20%;
}

.modal-popup .close {
    display: flex;
    flex-direction: row-reverse;
}

.modal-popup .close-button {
    border-style: none;
    background-color: #F5F2FF;
    border-radius: 50%;
}

.modal-popup .date {
    color: #717171;
}

.modal-popup .heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.modal-popup .subheading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal-popup .input-tile {
    margin-top: 1rem;
}

.modal-popup .update {
    border-style: none;
    font-size: 1rem;
    background-color: $primaryPurple;
    color: white;
    margin-top: 2rem;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

.modal-popup .update:active {
    background-color: #7233a2;
}

// .modal {
//     display: flex;
// }
