@import 'common.scss';

.no-tasks-completed {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.no-tasks-completed img {
    width: 80%;
}
.no-tasks-completed .text {
    display: flex;
    font-size: 1.5rem;
    color: $primaryPurple;
    font-weight: 700;
}