@import 'common.scss';

.all-tasks-heading {
    padding-left: 4rem;
    padding-top: 3rem;
    font-size: 1.5rem;
    color: $primaryPurple
}

.tasks  {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
}

.task-tile {
    min-width: 15rem;
    margin: 0.8rem;
}

.tasks .tile-container {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 1rem;
}

.tasks .tile-container .heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
}

.tasks .tile-container .subheading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
}

.task-tile .date {
    color: #D9D9D9;
    padding-bottom: 1rem;
}

.task-tile .progress-bar{
    margin-top: 1rem;
    height: 0.6rem;
    background-color: #D9D9D9;
    border-radius: 1rem;
}

.task-tile .progress-color {
    background-color: #7581E8;
    width: 70%;
    height: 0.6rem;
    border-radius: 1rem;
}

.task-tile .progress-info {
    padding-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.modal {
    position: absolute;
    width: 60%;
    top: 30%;
    padding: 2rem;
    padding-right: 4rem;
    margin-left: 10%;
    background-color: #F3F5F9;
    border-radius: 1rem;
    z-index: 2;
}

.modal .close {
    display: flex;
    flex-direction: row-reverse;
}

.modal .close-button {
    border-style: none;
    background-color: #F5F2FF;
    border-radius: 50%;
}

.modal .date {
    color: #717171;
}

.modal .heading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.modal .subheading {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal .input-tile {
    margin-top: 1rem;
}


.modal .update {
    border-style: none;
    font-size: 1rem;
    background-color: $primaryPurple;
    color: white;
    margin-top: 1rem;
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

.modal .update:active {
    background-color: #7233a2;
}
